/*
BUTTON
------
*/

.a-button {
  align-items: center;
  background-color: var(--blue);
  border: .25rem solid var(--blue);
  border-radius: 3.3rem;
  color: var(--white);
  display: inline-flex;
  height: 3.3rem;
  margin-bottom: var(--regular);
  outline: none;
  padding: var(--xxs) var(--s);
  text-transform: lowercase;
  transition-duration: .3s;
  transition-property: background-color, border-color, color, box-shadow;
  transition-timing-function: var(--ease-in-out-cubic);
}

.a-button::after {
  display: none;
}

.a-button:hover {
  background-color: var(--blue-50);
  border-color: var(--blue);
  border-left-color: var(--blue-30);
  border-top-color: var(--blue-30);
  box-shadow: var(--shadow-default);
  color: var(--white);
}

/* Accessible focus */
.a-button:focus {
  background-color: var(--blue);
  border-color: var(--blue-30);
  border-width: .25rem;
  box-shadow: none;
  color: var(--white);
}

.a-button:active {
  background-color: var(--blue);
  border-color: var(--blue-50);
  border-left-color: var(--blue-80);
  border-top-color: var(--blue-80);
  box-shadow: none;
  transform: scale(1);
}

.a-button .a-icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.a-button .a-icon line {
  stroke: var(--white) !important;
}

.a-button .a-icon:first-child {
  margin-right: .333em;
}

.a-button .a-icon:last-child {
  margin-left: .333em;
}

@media (prefers-color-scheme: dark) {
  .a-button {
    background-color: var(--blue-50);
    border-color: var(--blue-50);
  }

  .a-button:hover,.a-button:focus {
    background-color: var(--yellow);
    border-color: var(--yellow);
    border-style: solid;
    border-width: .25rem;
    color: var(--blue-90);
  }

  .a-button:focus {
    /* background-color: var(--yellow);
    border-color: var(--blue-50);
    border-width: .25rem;
    color: var(--blue-90); */
  }
}

/* Secondary button */
.a-button--secondary {
  background-color: var(--grey-70);
  border-color: var(--grey-70);
}

.a-button--secondary:hover {
  background-color: var(--grey-50);
  border-color: var(--grey-60);
  border-left-color: var(--grey-30);
  border-top-color: var(--grey-30);
  color: var(--white);
}

.a-button--secondary:focus-visible {
  background-color: var(--grey-70);
  border-color: var(--blue-30) !important;
}

.a-button--secondary:active {
  background-color: var(--grey-70);
  border-color: var(--grey-60);
  border-left-color: var(--grey-80);
  border-top-color: var(--grey-80);
}
