/* Primary button */
.a-button {
  display: inline-flex;
  align-items: center;

  padding: var(--xxs) var(--xs);
  background-color: var(--blue);
  border: .25rem solid var(--blue);
  border-radius: .5rem;

  font-size: .666em;
  text-transform: lowercase;
  color: var(--white);

  transition: .15s ease-in;
  transition-property: background-color, border-color;
}

.a-button:focus,
.a-button:hover {
  background-color: var(--blue-50);
  border: .25rem solid var(--blue);
  border-color: var(--blue);
  border-top-color: var(--blue-30);
  border-left-color: var(--blue-30);

  color: var(--white);
}

.a-button:active {
  background-color: var(--blue);
  border-color: var(--blue-50);
  border-top-color: var(--blue-90);
  border-left-color: var(--blue-90);
}

.a-button .a-icon {
  width: 1em;
  height: 1em;

  fill: var(--white);
}

.a-button .a-icon line { stroke: var(--white) !important; }

.a-button .a-icon:first-child { margin-right: .333em; }
.a-button .a-icon:last-child { margin-left: .333em; }

/* Secondary button */
.a-button--secondary {
  background-color: var(--grey-70);
  border-color: var(--grey-70);
}

.a-button--secondary:focus,
.a-button--secondary:hover {
  background-color: var(--grey-50);
  border-color: var(--grey-60);
  border-top-color: var(--grey-30);
  border-left-color: var(--grey-30);

  color: var(--white);
}

.a-button--secondary:active {
  background-color: var(--grey-70);
  border-color: var(--grey-60);
  border-top-color: var(--grey-80);
  border-left-color: var(--grey-80);
}
