/* .a-figure {} */

[data-animation] {
  opacity: 0;
}

[data-animation="slide-in"].is-animated {
  opacity: 1;

  animation: slide-in .333s ease-in-out forwards;
}

[data-animation="zoom-in"].is-animated {
  opacity: 1;

  animation: zoom-in .5s ease-in;
}


@keyframes slide-in {
  from {
    opacity: 0;

    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;

    transform: scale3d(.9, .9, 1);
    transform-origin: top  center;
  }

  to {
    opacity: 1;

    transform: translate3d(1, 1, 1);
  }
}