.a-list-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-s);
  width: 100%;
}

@media (--br-m) {
  .a-list-header {
    margin-bottom: var(--spacing-m);
  }
}

.a-list-header__title {
  display: inline;
  margin-bottom: 0;
}
.a-list-header__subline {
  font-style: italic;
}
