.a-logo {
  border: .2rem solid var(--grey-80);
  border-radius: 100%;
  box-shadow: var(--shadow-default);
  height: 3.3rem;
  overflow: hidden;
  padding: 0;
  transform-origin: top left;
  transition: .3s border var(--ease-in-out-quad), 1s transform var(--ease-in-out-quad);
  width: 3.3rem;
  z-index: var(--z-header);
}

.a-logo::after {
  display: none;
}

.a-logo:hover,.a-logo:focus {
  border-color: var(--blue);
  border-left-color: var(--blue-50);
  border-top-color: var(--blue-50);
  transform: none;
}

@media (prefers-color-scheme: dark) {
  .a-logo:hover,.a-loco:focus {
    border-color: var(--yellow);
  }
}

.a-logo:active {
  transform: scale(1);
}
