/* COLORS */
:root {
  /* Brand pallette */
  --blue-10: #77DDFF;
  --blue-30: #2BC9FF;
  --blue-50: #00A5DD;
  --blue-70: #006C90;
  --blue-80: #003344;
  --blue-90: #001922;
  --blue: var(--blue-70);
  --yellow: #FFFF00;

  /* Greys pallette */
  --black: #000;
  --grey-90: #222;
  --grey-80: #333;
  --grey-70: #444;
  --grey-60: #555;
  --grey-50: #666;
  --grey-40: #777;
  --grey-30: #888;
  --grey-20: #CCC;
  --grey-10: #F9F9F9;
  --white: #FFF;
}
