{{/*
SKIP LINKS
----------
Provide keyboard accessible skip links
*/}}
<nav class="m-skip-links" data-skip-links>
  <ul class="m-skip-links__list">
    <li class="m-skip-links__item u-margin-bottom">
      <span class="u-text-italic">Press ESC to skip this menu</span>
    </li>
    <li class="m-skip-links__item">
      <a class="m-skip-links__link" href="{{.Permalink}}#site-main" data-skip-links-element>
        Skip to content
      </a>
    </li>
    <li class="m-skip-links__item">
      <a class="m-skip-links__link" href="{{.Permalink}}#site-links" data-skip-links-element>
        Skip to site navigation
      </a>
    </li>
    <li class="m-skip-links__item">
      <a class="m-skip-links__link" href="{{.Permalink}}#site-contact" data-skip-links-element>
        Skip to contact information
      </a>
    </li>
    <li class="m-skip-links__item">
      <a class="m-skip-links__link" href="{{.Permalink}}#site-company-info" data-skip-links-element>
        Skip to company information
      </a>
    </li>
  </ul>
</nav>
