<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="{{ $.Description }}" />
    <base href="{{ $.Site.BaseURL }}" />
    <title>{{ $.Site.Title }}</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/main.min.css" />
  </head>

  <body>
    {{ partial "molecules/skip-links" . }}
  </body>
</html>
