
{{/*
SITE FOOTER
-----------
*/}}

{{ $classes := "" }}

{{ if and (eq .IsHome false) (or (eq .Type "page") (eq .Type "articles")) }}
  {{ $classes = "e-content-block e-content-block--transparent" }}
{{ end}}

<footer id="site-footer" class="o-site-footer">
  <section class="{{ $classes }}">
    <ul>
      <li><strong>Bram Willemse</strong><br> - <i>Technical product owner</i></li>
    </ul>

    {{/* LINKS */}}
    <section aria-label="Website navigation">
      <ul id="site-links" class="links">
        <li><a href="/" title="Everything about me">About me</a></li>
        <!--<li><a href="/articles" title="Articles written by me">Articles</a></li>-->
        <li><a href="/now" title="What am I doing now?">Now</a></li>
      </ul>
    </section>

    {{/* CONTACT DATA */}}
    <section aria-label="Contact data">
      <ul id="site-contact" class="contact">
        <li>
          <a href="mailto:contact@bramwillemse.nl" title="Bram's email address">contact@bramwillemse.nl</a>
        </li>
        <li>
          <a href="https://linkedin.com/in/bramwillemse" title="Bram's LinkedIn profile">LinkedIn</a>
        </li>
        <li>
          <a href="https://mastodon.social/@bramwillemse" title="Bram's Mastodon profile (screw Twitter!)">Mastodon</a>
        </li>
        <li>
          <a href="https://github.com/bramwillemse" title="Bram's Github profile">Github</a>
        </li>
      </ul>
    </section>

    {{/* COMPANY INFORMATION */}}
    <section aria-label="Company information">
      <dl id="site-company-info" class="company">
        <dt>KvK</dt>
        <dd>
          <a
            href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=021008990000&origq=bram+willemse"
            title="Bram's registration with the Dutch Chamber of Commerce"
            >02100899</a>
        </dd>
        <dt>Belastingdienst</dt>
        <dd>NL002160459B77</dd>
      </dl>
    </section>
  </section>
</footer>
