
/*
GRID: HOME
----------
Grid for the homepage, with skill cards and footer
*/

.e-grid-home {
  align-items: start;
  display: grid;
  grid-gap: var(--xl);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 var(--spacing-xs) var(--spacing-l);
}

@media (--br-s) {
  .e-grid-home {
    grid-gap: var(--l);
  }
}

@media (--br-m) {
  .e-grid-home {
    grid-gap: var(--xl);
    margin: 0 var(--spacing-xl) var(--spacing-xl);
  }
}

@media (--br-l) {
  .e-grid-home {
    grid-gap: var(--xl);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
  }
}

@media (--br-xl) {
  .e-grid-home {
    grid-gap: var(--xxl);
  }
}

/* GRID: HOME HEADER */
.e-grid-home__header {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
}

@media(--br-m) {
  .e-grid-home__header {
    grid-column: span 4;
  }
}

@media(--br-l) {
  .e-grid-home__header {
    grid-column: span 4;
    grid-row: 1 / 2;
  }
}

@media (--br-xl) {
  .e-grid-home__header {
    grid-column: span 4;
    grid-row: 1 / 2;
  }

  .e-grid-home__card-one {
    order: 1;
  }

  .e-grid-home__card-two {
    order: 0;
  }

  .e-grid-home__card-three {
    order: 2;
  }
}

@media (--br-xxl) {
  .e-grid-home__header {
    grid-column: 3 / span 2;
    grid-row: 1 / 2;
  }
}

@media (--br-xxxl) {
  .e-grid-home__header {
    grid-column: 3 / span 2;
    grid-row: 1 / 2;
  }
}

/* GRID: HOME CARD */
.e-grid-home__card {
  grid-column: span 4;
}

@media (--br-s) {
  .e-grid-home__card {
    grid-column: span 2;
  }
}

@media (--br-l) {
  .e-grid-home__card {
    grid-column: span 2;
    grid-row: 2 / 4;
  }
}

/* H1 */
.e-grid-home__card h1,
.e-grid-home__header h1 {
  margin-bottom: 0;
}

/* GRID: HOME FOOTER */
.e-grid-home__footer {
  grid-column: span 4;
}
