
{{/* 
LOGO
---- 
Site logo, showing Bram's happy face.
*/}}

<a class="u-disable-link" href="/" alt="Navigate to the homepage">
  <picture class="">
    <source data-srcset="/images/bram-willemse.jpg?nf_resize=fit&w=640" media="(min-width: 1200px)">
    <source data-srcset="/images/bram-willemse.jpg?nf_resize=fit&w=350" media="(min-width: 700px)">
    <source data-srcset="/images/bram-willemse.jpg?nf_resize=fit&w=150" media="(min-width: 300px)">
    <img
    class="a-logo"
    src="/images/bram-willemse.jpg?nf_resize=fit&w=20"
    data-src="{{ .src }}?nf_resize=fit&w=320"
    alt=""
    width="762"
    height="762"
    loading="lazy">
  </picture>
</a>
