{{ partial "header" . }}

<main id="site-main" tabindex="-1" class="o-site-main">
  <section class="list">
    <header class="a-list-header e-content-block e-content-block--transparent">
      <h1 class="a-list-header__title">{{ .Title }}</h1>
    </header>

    <section class="e-articles e-grid">
      {{ range first 10 .Data.Pages }}
        {{ if eq .Type "articles" }}
          <article class="article e-content-block e-grid__item">
            <h1>
              <a href="{{ .Permalink }}" tabindex="-1">
                {{ if (.Params.title_short) }}
                  {{ .Params.title_short }}
                {{ else }}
                  {{ .Title }}
                {{ end }}
              </a>
            </h1>

            <p>{{ .Params.introduction | safeHTML }}</p>

            {{ partial "atoms/button" (dict "ariaLabel" .Title "icon" "read" "label" "Let me read this" "url" .Permalink) }}

          </article>
        {{ end }}
      {{ end }}
    </section>
  </section>
</main>

{{ partial "footer" . }}
