*.log
*.min.css
*.bundle.js
*.min.js
*.hot-update.js.map
*.hot-update.js
.DS_Store
.env
.netlify
node_modules

# Hugo
public/*
resources/*
tmp/*

#yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.aider*
themes/bw-monochrome/assets/*