*.log
*.min.css
*.bundle.js
*.min.js
*.js.map
*.hot-update.js.map
*.hot-update.js
*.css.map
.DS_Store
.env
.netlify
.lfs.local
node_modules

# Hugo
public/*
resources/*
tmp/*

bundle.js

#yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.aider*
