{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["import", "tailwind", "apply", "variants", "responsive", "screen"]
      }
    ],
    "no-descending-specificity": null,
    "declaration-empty-line-before": "never",
    "order/properties-alphabetical-order": true,
    "at-rule-no-vendor-prefix": true,
    "block-no-empty": true,
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-calc-no-unspaced-operator": true,
    "function-name-case": "lower",
    "function-url-quotes": "never",
    "keyframe-declaration-no-important": true,
    "max-nesting-depth": 3,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-unknown-animations": true,
    "number-max-precision": 3,
    "property-no-unknown": true,
    "selector-class-pattern": null
  }
}
