{
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/properties-order": [
            {
                "properties": [
                    "display",
                    "visibility",
                    "float",
                    "position",
                    "top",
                    "right",
                    "bottom",
                    "left",
                    "flex",
                    "align",
                    "justify",
                    "vertical-align",
                    "width",
                    "height",
                    "min",
                    "max",
                    "overflow",
                    "margin",
                    "z-index"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "appearance",
                    "padding",
                    "background",
                    "border",
                    "drop-shadow",
                    "outline"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                    "content",
                    "font",
                    "font-family",
                    "src",
                    "font-size",
                    "font-weight",
                    "font-style",
                    "line-height",
                    "letter-spacing",
                    "color",
                    "white-space",
                    "text-align",
                    "text-shadow"
                ]
            },
            {
                "emptyLineBefore": "always",
                "properties": [
                   "transform",
                    "translate",
                    "transition",
                    "animation"
                ]
            }
        ],
        "at-rule-name-case": "lower",
        "at-rule-no-vendor-prefix": true,
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": [
            "always",
            "ignoreAtRules": ["media"]
        ],
        "block-no-empty": true,
        "color-hex-case": "upper",
        "color-named": "never",
        "color-no-invalid-hex": true,
        "comment-no-empty": true,
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-property-unit-blacklist": {},
        "declaration-property-unit-whitelist": {},
        "declaration-property-value-blacklist": {},
        "declaration-property-value-whitelist": {},
        "font-family-name-quotes": "always-where-recommended",
        "font-weight-notation": "numeric",
        "function-calc-no-unspaced-operator": true,
        "function-max-empty-lines": 5,
        "function-name-case": "lower",
        "function-url-quotes": "never",
        "function-whitespace-after": "always",
        "indentation": 2,
        "keyframe-declaration-no-important": true,
        "max-empty-lines": 5,
        "max-line-length": 120,
        "max-nesting-depth": 3,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-case": "lower",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-query-list-comma-newline-before": "never-multi-line",
        "media-query-list-comma-space-after": "always-single-line",
        "media-query-list-comma-space-before": "always-single-line",
        "no-duplicate-selectors": true,
        "no-empty-source": true,
        "no-extra-semicolons": true,
        "no-unknown-animations": true,
        "number-leading-zero": "never",
        "number-max-precision": 3,
        "number-no-trailing-zeros": true,
        "property-case": "lower",
        "property-no-unknown": true,
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "never-single-line",
        "selector-list-comma-space-before": "never",
        "selector-max-empty-lines": 1,
        "selector-no-qualifying-type": [
            true,
            ignore: ["attribute", "class"]
        ],
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "single",
        "selector-pseudo-element-no-unknown": true,
        "selector-type-case": "lower",
        "selector-type-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "string-no-newline": true,
        "string-quotes": "double",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-list-comma-newline-after": "always-multi-line",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-comma-space-after": "always-single-line",
        "value-list-comma-space-before": "never",
        "value-list-max-empty-lines": 5,
        "value-no-vendor-prefix": true
    }
}
