/* SETTINGS */
/** 
 * SETTINGS 
 */
:root {
    /* COLORS */

    /* SIZES - following modular scale */
     
    /* SPACING */

    /* BREAKPOINTS */
}
/* BASE */
/** 
 * BASE
 * Styling of base elements
 */
html {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
@media screen and (min-width: 20rem) {
    html { font-size: 18px; }
}
@media (min-width: 30em) {
    html { font-size: 21px; }
}
@media (min-width: 40em) {
    html { font-size: 24px; }
}
@media (min-width: 70em) {
    html { font-size: 26px; }
}
@media (min-width: 150em) {
    html { font-size: 29px; }
}
/* BODY */
body { 
    margin: 0;
}
/* HEADINGS */
h1,
.h1 { /* Helps keeping HTML semantics intact */
    margin: 0 0 1rem;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
}
h1 ~ h2 {
    margin-top: -1rem;
}
h2,
.h2 { /* Helps keeping HTML semantics intact */
    margin: 0 0 1rem;

    font-size: 1rem;
    font-weight: 600;
}
h3,
.h3 { /* Helps keeping HTML semantics intact */
    margin: 0 0 1rem;

    font-size: 1rem;
    font-weight: 600;
}
p { 
    margin: 0 0 1rem;
}
/* DEFINITION LISTS */
dl { margin: 0 0 1rem; }
dt,
dd { display: block; }
dt { font-weight: 300; }
dd { margin: 0 0 1rem; }
@media (min-width: 40em) {
    dt,
    dd { 
        display: inline-block;
        margin-right: .563rem;
    }

    dd { 
        margin-right: 1rem;
    }
}
/* IMAGE */
img { 
    max-width: 100%;
}
/* ANCHOR */
a {
    color: #006C90;
    text-decoration: none;

    padding-bottom: .1rem;
    border-bottom: 2px solid #006C90;
}
/* BLOCKQUOTE */
blockquote { 
    /* display: inline; */
    margin: 0 0 1rem;

    /* font-size: var(--m); */
    font-weight: 600;
    text-align: left;
}
blockquote p { margin-bottom: 0; }
blockquote:before {
    content: "<quote>";
}
blockquote:after {
    content: "</quote>";
}
/* LAYOUT */
/** 
 * GRID
 */
.l-grid { /* Start with 4 columns */
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end];
    grid-gap: 2.369rem;
    margin: 2.369rem;
}
@media (min-width: 40em) {
    .l-grid { 
        grid-gap: 2.369rem;
        margin: 2.369rem; 
    }
}
@media (min-width: 60em) {
    .l-grid { /* Change to 3 columns */
        grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
        grid-gap: 4rem;
        margin: 4rem;
    }
}
@media (min-width: 70em) {
    .l-grid { grid-gap: 4rem; }
}
/** 
 * GRID: ITEM
 */
.l-grid__item {
    grid-column: span 4;
}
@media (min-width: 60em) {
    .l-grid__item { grid-column: span 3; }
}
/* MODULES */
/** 
 * ARTICLE
 * A blog post or content page
 */
.article {
    grid-column: span 4;
}
.article__header {
    margin-bottom: 1rem;
}
.article__header h1 {
    margin-bottom: 0;
}
@media (min-width: 60em) {
    .article { grid-column: span 2; }
}
/** 
 * PILLAR
 * A singular, unique feature of Bram, giving insight into what Bram does & loves
 */
.pillar { grid-column: span 4; }
@media (min-width: 40em) {
    .pillar { grid-column: span 2;  }
}
@media (min-width: 60em) {
    .pillar { grid-column: span 1; }
}
/* PILLAR HEADER */
@media (min-width: 60em) {
    .pillar--header { 
        grid-column: span 3 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        text-align: center;
    }
}
/* PILLAR HEADER: PORTRAIT */
.pillar--header__portrait { margin-bottom: 0; }
.pillar--header__portrait img { height: 46px; }
/* PILLAR HEADER: TEXT */
.pillar--header__intro {
    max-width: 45ch;
    margin: 0 auto;
}
/* PILLAR: IMAGE */
@media (min-width: 30em) {
    .pillar--developer .pillar__image { padding-top: 10px; }
    .pillar--driver .pillar__image { padding-top: 15px; }
}
/* PILLAR: TITLE */
.pillar__title {
    font-weight: 600;
}
/* PILLAR: TEXT */
.pillar__text { 
    max-width: 60ch;
}
.site-header { 
    display: block;
}
/**
 * Site footer
 * The site's main footer module
 */
.site-footer {
    grid-column: span 4;
}
/* UNORDERED LISTS */
.site-footer ul { 
    display: block;
    margin: 0 0 1.777rem;

    padding: 0;
}
.site-footer li { 
    display: block;
    margin: 0 1rem 1rem 0;
    list-style: none;
}
@media (min-width: 40em) {
    .site-footer ul { margin-bottom: 0; }
    .site-footer li { display: inline-block; }
}
@media (min-width: 60em) {
    .site-footer { grid-column: span 3; }
}