<footer id="site-footer" class="c-site-footer o-content-block content-block--transparent">
  <ul id="site-contact" class="contact">
    <li>Bram Willemse - <i>freelance front-end developer &amp; designer</i></li>
  </ul>
  <ul class="contact">
    <li>
      <a href="mailto:contact@bramwillemse.nl" title="Bram's email address"
        >contact@bramwillemse.nl</a
      >
    </li>
    <li><a href="tel:+31628265381" title="Bram's phone number">+31628265381</a></li>
  </ul>
  <ul id="site-links" class="links">
    <li>
      <a href="https://linkedin.com/in/bramwillemse" title="Bram's LinkedIn profile">LinkedIn</a>
    </li>
    <li><a href="https://twitter.com/bramwillemse" title="Bram's Twitter profile">Twitter</a></li>
    <li>
      <a href="https://instagram.com/bramwillemse" title="Bram's Instagram profile">Instagram</a>
    </li>
    <li><a href="/articles" title="Articles, written by Bram">Articles</a></li>
  </ul>
  <dl id="site-company-info" class="company">
    <dt>KvK</dt>
    <dd>
      <a
        href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=021008990000&origq=bram+willemse"
        title="Bram's registration with the Dutch Chamber of Commerce"
        >02100899</a
      >
    </dd>
    <dt>Belastingdienst</dt>
    <dd>NL194615819B01</dd>
  </dl>
</footer>
