
{{/*
FIGURE
------
Picture element in a figure.
*/}}

<figure class="a-figure">

  <picture class="a-picture">
    <source data-srcset="{{ .src }}?nf_resize=fit&w=2160" media="(min-width: 1200px)">
    <source data-srcset="{{ .src }}?nf_resize=fit&w=1440" media="(min-width: 700px)">
    <source data-srcset="{{ .src }}?nf_resize=fit&w=720" media="(min-width: 300px)">
    <img 
      src="{{ .src }}?nf_resize=fit&w=20" 
      data-src="{{ .src }}?nf_resize=fit&w=320"
      alt="{{ .alt }}"  
      width="{{ .width }}" 
      height="{{ .height }}" 
      loading="lazy" 
      data-animation="zoom-in">
  </picture>

  {{ if .caption }}
    <figcaption>
     {{ .caption }}
    </figcaption>
  {{ end }}
</figure>