
{{/*
LOGO
----
Site logo, showing Bram's happy face.
*/}}

<a class="a-logo u-disable-link u-is-clickable" href="/" title="Navigate to the homepage">
  <span class="a-logo__label" aria-hidden="true">⬅ Bram</span>
  <picture class="a-logo__picture">
    <source data-srcset="/images/bram-willemse.jpg?nf_resize=fit&w=640" media="(min-width: 1200px)">
    <source data-srcset="/images/bram-willemse.jpg?nf_resize=fit&w=350" media="(min-width: 700px)">
    <source data-srcset="/images/bram-willemse.jpg?nf_resize=fit&w=150" media="(min-width: 21px)">
    <img
    class="a-logo__image"
    src="/images/bram-willemse.jpg?nf_resize=fit&w=20"
    data-src="/images/bram-willemse.jpg?nf_resize=fit&w=320"
    alt=""
    width="762"
    height="762"
    loading="lazy">
  </picture>
</a>
