/** 
 * GRID
 */
.l-grid { /* Start with 4 columns */
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end];
    grid-gap: var(--xl);
    margin: var(--xl);
}

@media ( --br-s ) {
    .l-grid { 
        grid-gap: var(--xl);
        margin: var(--xl); 
    }
}

@media ( --br-m ) {
    .l-grid { /* Change to 3 columns */
        grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
        grid-gap: var(--xxl);
        margin: var(--xxl);
    }
}

@media ( --br-l ) {
    .l-grid { grid-gap: var(--xxl); }
}


/** 
 * GRID: ITEM
 */
.l-grid__item {
    grid-column: span 4;
}

@media ( --br-m ) {
    .l-grid__item { grid-column: span 3; }
}