
{{ define "main"}}

  <main id="site-main" tabindex="-1" class="o-site-main">
    <section class="e-articles e-grid">
      <article class="o-article e-content-block e-content-block--transparent e-grid__item">
        <h1>Wh00ps, I could not find this for you 😳 (404)</h1>
        <p>Sorry for the inconvience. Are you sure you are in the right place? If you are, please see the bottom of this page and drop me a message, stating your problem!</p>
      </article>
    </section>

    <div class="e-content-block e-content-block--transparent">
      {{ partial "organisms/site-footer" . }}
    </div>
  </main>

{{ end }}
