/*
ARTICLE HEADER
--------------
*/

.m-article-header {
  border-top: solid 1rem var(--black);
  padding-top: 1rem;
  position: relative;
  z-index: var(--z-rel-1st);
}

@media (prefers-color-scheme: dark) {
  .m-article-header {
    background-color: var(--grey-90);
    border-top-color: var(--grey-80);
  }
}

.m-article-header h1 {
  margin-bottom: 0;
}

.m-article-header__date {
  margin-bottom: var(--spacing-s);
}
