
.m-skip-links {
  background-color: var(--grey-90);
  box-shadow: var(--shadow-default);
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - var(--spacing-l)));
  transition: .3s var(--ease-in-out-quad);
  transition-property: transform, box-shadow;
  width: 100%;
  z-index: var(--z-modal);
}

.m-skip-links:focus-within {
  box-shadow: var(--shadow-panel);
  transform: translateY(0);
}

.m-skip-links__list {
  list-style: none;
  margin: var(--spacing-l) .75rem var(--spacing-l);
}

@media (--br-m) {
  .m-skip-links__list {
    margin: var(--spacing-xl);
  }
}

.m-skip-links__item {
  display: block;
  margin-bottom: var(--spacing-xs);
}

.m-skip-links__link {
  color: var(--white);
}

.m-skip-links__link:focus,
.m-skip-links__link:hover {
  color: var(--black);
}

.m-skip-links__link:not(.a-button):focus::after,
.m-skip-links__link:not(.a-button):hover::after {
  background-color: var(--white);
}