
/* SETTINGS */
/* BREAKPOINTS */
/* COLORS */
:root {
  /* Brand colors */
  --blue-10: #77DDFF;
  --blue-30: #2BC9FF;
  --blue-50: #00A5DD;
  --blue-70: #006C90;
  --blue-80: #003344;
  --blue-90: #001922;
  --blue: var(--blue-70);
  --yellow: #FFFF00;

  /* Greys */
  --black: #000;
  --black-50: rgba(0, 0, 0, .1);
  --grey-90: #222;
  --grey-80: #333;
  --grey-70: #444;
  --grey-60: #555;
  --grey-50: #666;
  --grey-40: #777;
  --grey-30: #888;
  --grey-20: #CCC;
  --grey-10: #F9F9F9;
  --white: #FFF;
  --white-50: rgba(250, 250, 250, .2);

  /* Signal colors */
}
/* EASES - Default eases from easings.net */
:root {
  /* sine */
  --ease-in-sine: cubic-bezier(.47, 0, .745, .715);
  --ease-out-sine: cubic-bezier(.39, .575, .565, 1);
  --ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);

  /* quad */
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);

  /* cubic */
  --ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);

  /* quart */
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);

  /* quint */
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);

  /* expo */
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

  /* circ */
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

  /* back */
  --ease-in-back: cubic-bezier(.6, -.28, .735, .045);
  --ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
  --ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55);
}
/* LAYERS */
:root {
  /* Global layers */
  --z-modal: 1337;
  --z-overlay: 1234;
  --z-header: 888;
  --z-dropdown: 666;
  --z-content: 321;
  --z-content-below: 222;
  --z-footer: 123;
  --z-visual-banner: 1;

  /* Relative layers */
  --z-rel-10th: 100;
  --z-rel-9th: 90;
  --z-rel-8th: 80;
  --z-rel-7th: 70;
  --z-rel-6th: 60;
  --z-rel-5th: 50;
  --z-rel-4th: 40;
  --z-rel-3rd: 30;
  --z-rel-2nd: 20;
  --z-rel-1st: 10;
  --z-rel-ground: 0;
  --z-rel-basement: -1;
}
/* SIZES - following modular scale */
:root {
  --xxs: .317rem;
  --xs: .563rem;
  --s: .75rem;
  --regular: 1rem;
  --m: 1.333rem;
  --l: 1.777rem;
  --xl: 2.369rem;
  --xxl: 4rem;
}
/* SPACING */
:root {
  --spacing-xs: .5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing: var(--spacing-m);
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 6rem;
}
:root {
  --shadow-default: 0 .333rem 1rem -.5rem var(--black);
  --shadow-panel: 0 .5rem 2rem -1rem var(--black-50);
}
@media (prefers-color-scheme: dark) {
  :root {
    --shadow-default: 0 .333rem 1rem -.5rem var(--white);
    --shadow-panel: 0 .5rem 2rem -1rem var(--white-50);
  }
}
/* ELEMENTS */
/*
ANCHOR
------
*/
a {
  color: var(--black);
  display: inline-block;
  padding-bottom: .1rem;
  position: relative;
  text-decoration: none;
  transform-origin: top right;
  transition: .15s var(--ease-in-out-quad);
  transition-property: border, color, transform;
  z-index: 0;
}
a:focus,
a:hover {
  color: var(--white);
  outline: none;
}
a:not(.a-button, .a-logo):active {
  transform: scale(.95);
}
@media (prefers-color-scheme: dark) {
  a { color: var(--white); }

  a:focus,
  a:hover {
    color: var(--black);
  }
}
/* Animated underline */
a:not(.a-button)::after {
  background-color: currentColor;
  bottom: 1px;
  content: "";
  height: .1rem;
  left: 0;
  max-width: 100%;
  position: absolute;
  transition: .15s var(--ease-in-out-quad);
  transition-property: all;
  width: 66%;
  z-index: -1;
}
a:not(.a-button):focus::after,
a:not(.a-button):hover::after {
  background-color: var(--black);
  height: 100%;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  a:not(.a-button):focus::after,
  a:not(.a-button):hover::after {
    background-color: var(--white);
  }

  a:focus::after,
  a:hover::after {
    background-color: var(--white);
  }
}
.u-disable-link {
  pointer-events: none;
}
.u-disable-link::after {
  display: none;
}
/* BLOCKQUOTE */
blockquote {
  /* font-size: var(--m); */
  font-style: italic;
  /* display: inline; */
  margin: 0 0 var(--regular) var(--regular);
}
/* BODY */
body {
  font-size: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  –webkit-overflow-scrolling: touch; /* stylelint-disable-line */
}
/* BUTTON */
button {
  margin: 0 0 var(--regular);
}
/* FIGURE */
figure {
  margin: 0 0 var(--regular);
}
figcaption {
  font-style: italic;
  margin-top: var(--xs);
  text-align: center;
}
/* HEADINGS */
h1,
.h1 {
  font-size: var(--regular);
  font-weight: 600;
  /* Helps keeping HTML semantics intact */
  margin: 0 0 var(--regular);
}
h2,
.h2 {
  font-size: var(--regular);
  font-weight: 600;
  /* Helps keeping HTML semantics intact */
  margin: 0 0 var(--regular);
}
h3,
.h3 {
  font-size: var(--regular);
  font-weight: 600;
  /* Helps keeping HTML semantics intact */
  margin: 0 0 var(--regular);
}
/**
 * HTML + scaling base font size system
 * The scaling font is used to scale all contents based on screen size, using rem
 * as the standard sizing unit.
 *
 * Read more about this method:
 */
html {
  background-color: var(--white);
  color: var(--black);
  font-family: Overpass, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--black);
    color: var(--white);
  }
}
@media (min-width: 30em) {
  html {
    font-size: 1.1em;
  }
}
@media (min-width: 40em) {
  html {
    font-size: 1.3em;
  }
}
@media (min-width: 70em) {
  html {
    font-size: 1.5em;
  }
}
@media (min-width: 90em) {
  html {
    font-size: 1.6em;
  }
}
/* Generic styles */
*::selection {
  background-color: var(--yellow);
  color: var(--black);
}
*,*::before,*::after {
  box-sizing: border-box;
}
iframe {
  max-width: 100%;
}
/* IMAGE */
img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* LISTS */
ul,ol,dl {
  list-style-position: inside;
  margin: 0 0 var(--regular);
  padding: 0;
}
li {
  list-style-position: outside;
  margin-left: 1em;
}
/* DEFINITION LISTS */
/* dl {} */
dt,dd {
  display: block;
}
dt {
  font-weight: 300;
}
dd {
  margin: 0 0 var(--regular);
}
@media (min-width: 40em) {
  dt,dd {
    display: inline-block;
    margin-right: var(--xs);
  }

  dd {
    margin-right: var(--regular);
  }
}
/* PARAGRAPH */
p {
  margin: 0 0 var(--regular);
}
p:last-child {
  margin: 0;
}
/* STRONG */
strong {
  font-weight: 600;
}
/* ENTITIES */
/*
ENTITIES
--------
Re-usable layouts.
*/
/*
ARTICLES
--------
Shifted layout on bigger screens
*/
/**
 * ENTITY: CONTENT BLOCK
 * Blocks of content.
 */
.e-content-block {
  background-color: var(--white);
  box-shadow: var(--shadow-panel);
  display: block;
  margin: 0 auto var(--spacing-m);
  max-width: 56ch;
  padding: var(--spacing-m) var(--s);
  position: relative;
  z-index: var(--z-content);
}
@media (min-width: 60em) {
  .e-content-block {
    margin-bottom: var(--spacing-m);
    padding: var(--xl);
  }
}
@media (prefers-color-scheme: dark) {
  .e-content-block {
    background-color: var(--grey-90);
  }
}
.e-content-block--transparent {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
/*
GRID: HOME
----------
Grid for the homepage, with skill cards and footer
*/
.e-grid-home {
  align-items: start;
  display: grid;
  grid-gap: var(--xl);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 var(--spacing-xs) var(--spacing-l);
}
@media (min-width: 40em) {
  .e-grid-home {
    grid-gap: var(--l);
  }
}
@media (min-width: 60em) {
  .e-grid-home {
    grid-gap: var(--xl);
    margin: 0 var(--spacing-xl) var(--spacing-xl);
  }
}
@media (min-width: 70em) {
  .e-grid-home {
    grid-gap: var(--xl);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
}
@media (min-width: 90em) {
  .e-grid-home {
    grid-gap: var(--xxl);
  }
}
/* GRID: HOME HEADER */
.e-grid-home__header {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
}
@media(min-width: 60em) {
  .e-grid-home__header {
    grid-column: span 2;
  }
}
@media(min-width: 70em) {
  .e-grid-home__header {
    grid-column: span 2;
    grid-row: 1 / 2;
  }
}
@media (min-width: 90em) {
  .e-grid-home__header {
    grid-column: 2 / 3;
  }

  .e-grid-home__card-one {
    order: 1;
  }

  .e-grid-home__card-two {
    order: 0;
  }

  .e-grid-home__card-three {
    order: 2;
  }
}
/* GRID: HOME CARD */
.e-grid-home__card {
  grid-column: span 4;
}
@media (min-width: 40em) {
  .e-grid-home__card {
    grid-column: span 2;
  }
}
@media (min-width: 70em) {
  .e-grid-home__card {
    grid-column: span 1;
    grid-row: 2 / 4;
  }
}
/* H1 */
.e-grid-home__card h1,
.e-grid-home__header h1 {
  margin-bottom: 0;
}
/* GRID: HOME FOOTER */
.e-grid-home__footer {
  grid-column: span 4;
}
/* ATOMS */
/*
BUTTON
------
*/
.a-button {
  align-items: center;
  background-color: var(--black);
  border: .15rem solid var(--black);
  border-radius: 3.3rem;
  color: var(--white);
  display: inline-flex;
  margin-bottom: var(--regular);
  outline: none;
  padding: var(--xxs) var(--s);
  text-transform: lowercase;
  transform-origin: bottom center;
  transition-duration: .3s;
  transition-property: background-color, border-color, color, box-shadow, transform;
  transition-timing-function: var(--ease-in-out-cubic);
}
.a-button::after {
  display: none;
}
.a-button:hover {
  background-color: var(--black);
  border-color: var(--grey-90);
  border-left-color: var(--grey-50);
  border-top-color: var(--grey-50);
  box-shadow: var(--shadow-default);
  color: var(--white);
  transform: scale(1.03);
}
/* Accessible focus */
.a-button:focus-visible {
  border-color: var(--blue-30);
  box-shadow: none;
  color: var(--white);
}
.a-button:active {
  background-color: var(--black);
  border-color: var(--grey-50);
  border-left-color: var(--grey-80);
  border-top-color: var(--grey-80);
  box-shadow: none;
  transform: scale(1);
}
.a-button .a-icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
.a-button .a-icon line {
  stroke: var(--white) !important;
}
.a-button .a-icon:first-child {
  margin-right: .333em;
}
.a-button .a-icon:last-child {
  margin-left: .333em;
}
@media (prefers-color-scheme: dark) {
  .a-button {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
  }

  .a-button:hover,
  .a-button:focus {
    background-color: var(--yellow);
    border-color: var(--black);
    color: var(--black);
  }

  .a-button .a-icon line {
    stroke: var(--black) !important;
  }

}
@media (prefers-color-scheme: dark) {
  .a-button--secondary,
  .a-button--secondary:hover {
    background-color: var(--white);
    border-color: var(--black);
  }
}
.a-date {
  font-style: italic;
}
.a-figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
/*
  INTRODUCTION
*/
.a-introduction {
  /* font-weight: 00; */
}
/*
LOGO
----
*/
.a-logo {
  height: 3.3rem;
  position: relative;
  transform-origin: center center;
  transition: .3s var(--ease-in-out-quad);
  transition-property: transform;
  width: 3.3rem;
}
.a-logo:hover,
.a-logo:focus,
.a-logo:focus-within {
  transform: rotate(5deg);
}
.a-logo__picture {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.a-logo__image {
  background-color: var(--grey-80);
  border: .15rem solid var(--grey-80);
  border-radius: 100%;
  height: 3.3rem;
  overflow: hidden;
  padding: 0;
  transform-origin: bottom center;
  transition-duration: .3s;
  transition-property: border-color, box-shadow, transform;
  transition-timing-function: var(--ease-in-out-quad);
  width: 3.3rem;
  z-index: var(--z-header);
}
a:focus .a-logo__image,
.a-logo:hover .a-logo__image,
.a-logo:focus .a-logo__image {
  border-color: var(--blue);
  border-left-color: var(--blue-50);
  border-top-color: var(--blue-50);
  box-shadow: var(--shadow-default);
  transform: scale(1.03);
}
.a-logo:active .a-logo__image {
  box-shadow: none;
  transform: scale(1);
}
@media (prefers-color-scheme: dark) {
  a:focus .a-logo__image,
  .a-logo:hover .a-logo__image,
  .a-logo:focus .a-logo__image {
    border-color: var(--yellow);
  }
}
.a-logo__label {
  color: var(--blue);
  font-size: var(--regular);
  font-weight: 600;
  left: 100%;
  line-height: 1;
  opacity: 0;
  padding: var(--spacing-xs);
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: left center;
  transition: .3s var(--ease-in-out-cubic);
  transition-property: transform opacity left;
  visibility: hidden;
  white-space: nowrap;
}
.a-logo:hover .a-logo__label,
.a-logo:focus .a-logo__label {
  opacity: 1;
  transform: translate3d(0, -50%, 0);
  visibility: visible;
}
@media (prefers-color-scheme: dark) {
  .a-logo:hover .a-logo__label,
  .a-logo:focus .a-logo__label {
    color: var(--yellow);
  }
}
/*
PICTURE
-------
Picture element with lazy loading
*/
.a-picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
/* Blur initial tiny picture for lazy loading effect */
.a-picture img[loading="lazy"] {
  filter: blur(20px);
}
.a-picture img[loading="lazy"].is-loaded {
  filter: blur(0);
  transition: filter var(--ease-in-quad) .333s;
}
/*
VIDEO
-----
Embedded video in a 16:9 ratio
*/
/* .a-video {} */
.a-video__box {
  height: 5rem;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.6%;
  position: relative;
}
.a-video__iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
/*
VISUAL BANNER OVERLAY
---------------------
Background overlay to scroll over the banner's full-width image.
*/
.a-visual-banner-overlay {
  background-color: var(--grey-10);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 50vh;
  width: 100vw;
  z-index: var(--z-content-below);
}
@media (min-width: 60em) {
  .a-visual-banner-overlay {
    top: 88vh;
  }
}
@media (prefers-color-scheme: dark) {
  .a-visual-banner-overlay {
    background-color: var(--black);
  }
}
/* MOLECULES */
/*
ARTICLE HEADER
--------------
*/
.m-article-header {
  border-top: solid 1rem var(--black);
  padding-top: 1rem;
  position: relative;
  z-index: var(--z-rel-1st);
}
@media (prefers-color-scheme: dark) {
  .m-article-header {
    background-color: var(--grey-90);
    border-top-color: var(--grey-80);
  }
}
.m-article-header h1 {
  margin-bottom: 0;
}
.m-article-header__date {
  margin-bottom: var(--spacing-s);
}
.m-article-navigation {
  margin-bottom: var(--spacing-m);
  padding-top: var(--spacing-m);
}
.m-article-navigation__button {
  margin-bottom: 0;
}
.m-list-header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-s);
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  width: 100%;
}
@media (min-width: 40em) {
  .m-list-header {
    align-items: center;
    margin-bottom: var(--spacing-m);
  }
}
.m-list-header__title {
  display: inline;
  margin-bottom: 0;
}
.m-list-header__subline {
  font-style: italic;
}
.m-pagination {
  display: flex;
  list-style: none;
}
.m-pagination__link {
  padding: 0 var(--xs);
}
.m-pagination__link::after {
  width: 100%;
}
.m-pagination__link--current {
  color: var(--grey-70);
}
.m-skip-links {
  background-color: var(--grey-90);
  box-shadow: var(--shadow-default);
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - var(--spacing-l)));
  transition: .3s var(--ease-in-out-quad);
  transition-property: transform, box-shadow;
  width: 100%;
  z-index: var(--z-modal);
}
.m-skip-links:focus-within {
  box-shadow: var(--shadow-panel);
  transform: translateY(0);
}
.m-skip-links__list {
  list-style: none;
  margin: var(--spacing-l) .75rem var(--spacing-l);
}
@media (min-width: 60em) {
  .m-skip-links__list {
    margin: var(--spacing-xl);
  }
}
.m-skip-links__item {
  display: block;
  margin-bottom: var(--spacing-xs);
}
.m-skip-links__link {
  color: var(--white);
}
.m-skip-links__link:focus,
.m-skip-links__link:hover {
  color: var(--black);
}
.m-skip-links__link:not(.a-button):focus::after,
.m-skip-links__link:not(.a-button):hover::after {
  background-color: var(--white);
}
/*
VISUAL BANNER
-------------
Visual header's full-width banner image. Needs visual banner overlay atom to function properly.
*/
.m-visual-banner {
  background-color: var(--grey-90);
  display: flex;
  height: 50vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-visual-banner);
}
@media (min-width: 60em) {
  .m-visual-banner {
    height: 88vh;
  }
}
.m-visual-banner--is-empty {
  height: 33vh;
}
@media (prefers-color-scheme: dark) {
  .m-visual-banner--is-empty {
    background-color: var(--blue-90);
  }
}
.m-visual-banner__image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
/* ORGANISMS */
/*
ARTICLE
-------
A blog post or content page
*/
.o-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.o-article--compact {
  align-items: flex-start;
  border-left: solid .3rem var(--black);
  margin-bottom: var(--xxl);
}
@media (prefers-color-scheme: dark) {
  .o-article--compact {
    background-color: var(--grey-90);
    border-left-color: var(--grey-80);
  }
}
.o-article--compact .a-button {
  margin-bottom: 0;
}
.o-article--has-visual-header {
  margin-top: 33vh;
}
.o-article__content {
  align-items: center;
}
.o-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/*
SITE: FOOTER
------------
The site's main footer module
*/
.o-site-footer {
  background-color: var(--grey-10);
  padding: 0 var(--spacing-xs) var(--spacing-l);
  position: relative;
  width: 100%;
  z-index: var(--z-footer);
}
@media (min-width: 60em) {
  .o-site-footer {
    padding: 0 var(--spacing-xl) var(--spacing-xl);
  }
}
@media (prefers-color-scheme: dark) {
  .o-site-footer {
    background-color: var(--black);
  }
}
/* UNORDERED LISTS */
.o-site-footer ul,
.o-site-footer dl {
  display: block;
}
.o-site-footer li,
.o-site-footer dt,
.o-site-footer dd {
  display: block;
  list-style: none;
  margin: 0 var(--regular) var(--regular) 0;
}
@media (min-width: 40em) {
  .o-site-footer ul,
  .o-site-footer dl {
    margin-bottom: 0;
  }

  .o-site-footer dt,
  .o-site-footer dd,
  .o-site-footer li {
    display: inline-block;
  }
}
/*
SITE: HEADER
------------
The site's main header.
*/
.o-site-header {
  align-items: center;
  display: grid;
  grid-gap: var(--spacing-xs);
  grid-template: "center center" "left right";
  grid-template-columns: repeat(minmax(0, 1fr));
  margin: var(--spacing-xs) var(--spacing-xs) var(--spacing-m);
  pointer-events: none;
  position: relative;
  width: auto;
  z-index: var(--z-header);
}
@media (min-width: 30em) {
  .o-site-header {
    grid-gap: var(--s);
    grid-template: "left center right";
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    left: 0;
    margin: var(--spacing-s) var(--spacing-xs) var(--spacing-m);
    position: fixed;
    right: 0;
    top: 0;
  }
}
.o-site-header__left {
  grid-area: left;
  justify-content: flex-start;
  order: 1;
}
.o-site-header__center {
  grid-area: center;
  line-height: 0;
  order: 0;
  text-align: center;
}
.o-site-header__right {
  display: flex;
  grid-area: right;
  justify-content: flex-end;
}
.o-site-header__clickable {
  pointer-events: auto;
}
@media (min-width: 30em) {
  .a-site-header-spacer {
    height: 6rem;
  }
}
.o-site-main {
  outline: none;
}
/* UTILITIES */
[data-animation] {
  opacity: 0;
}
[data-animation="fade-in"].is-animated {
  animation: fade-in .333s ease-in-out;
  opacity: 1;
}
[data-animation="slide-in"].is-animated {
  animation: slide-in .333s ease-in-out forwards;
  opacity: 1;
}
[data-animation="zoom-in"].is-animated {
  animation: zoom-in .333s ease-in;
  opacity: 1;
}
[data-animation="slide-up"].is-animated {
  animation: slide-up .15s ease-in;
  opacity: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate3d(0, 1em, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale3d(.95, .95, 1);
    transform-origin: bottom center;
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/*
CLICKABLE
---------
Enable or disable clickability
*/
.u-is-not-clickable {
  pointer-events: none;
}
.u-is-clickable {
  pointer-events: auto !important;
}
.u-margin-bottom-none {
  margin-bottom: 0 !important;
}
.u-margin-bottom {
  margin-bottom: var(--spacing);
}
.u-margin-top-none {
  margin-top: 0 !important;
}
.u-margin-top {
  margin-top: var(--spacing);
}
.u-margin-top-m {
  margin-top: var(--spacing-m);
}
.u-screen-reader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-text-italic {
  font-style: italic !important;
}
