/**
 * ARTICLE
 * A blog post or content page
 */
.c-article {
    margin-bottom: var(--xxl);
}

.m-content-block {
    max-width: 56ch;
    margin: 0 var(--spacing-xs) var(--spacing-l);

    background-color: var(--white);
    padding: 0 var(--s) var(--xl);
}

@media ( --br-m ) {
    .m-content-block {
        grid-column: span 3;
        margin: 0 var(--xl) var(--spacing-xl);

        padding: var(--xl) var(--xl) var(--xxl);
    }
}