/** 
 * Brammy
 * All about Bram and his mad cards
 */
.brammy { /* Start with 4 columns */
    display: grid;
    align-items: start;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end];
    grid-gap: var(--xl);
    margin: var(--xl);
}

@media ( --br-s ) {
    .brammy { 
        grid-gap: var(--xl);
        margin: var(--xl); 
    }
}

@media ( --br-l ) {
    .brammy { /* Change to 3 columns */
        grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
        grid-gap: var(--xl);
        grid-template-rows: auto auto;
        margin: var(--xxl);
    }
}

@media ( --br-xl ) {
    .brammy { grid-gap: var(--xxl); }
}

/** 
 * A singular card
 * Describing something about Brammy.
 */
.brammy__card {
    grid-column: span 4;
}

.brammy__image { 
    width: 3.3rem;
    margin-bottom: .3rem;
}
.brammy__card h1 { margin-bottom: 0; }

@media ( --br-s ) {
    .brammy__card { grid-column: span 2; }
    .brammy__card:nth-child(2) { margin-top: 3.6rem; } /* correct image space */
    .brammy__image { 
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

@media ( --br-l ) {
    .brammy__card {
        grid-column: span 1;
        grid-row: 2 / 4;
    }
    .brammy__card:nth-child(2) { margin-top: 0; } /* correct image space */
    .brammy__header { grid-row: 1 / 2; }
}