/**
 * Site footer
 * The site's main footer module
 */
.c-site-footer {
    padding: 0 var(--xl) var(--xl);
}

/* UNORDERED LISTS */
.c-site-footer ul {
    display: block;
    margin: 0 0 var(--l);

    padding: 0;
}

.c-site-footer li {
    display: block;
    margin: 0 var(--regular) var(--regular) 0;
    list-style: none;
}

@media ( --br-s ) {
    .c-site-footer ul { margin-bottom: 0; }
    .c-site-footer li { display: inline-block; }
}