/**
 * Brammy
 * All about Bram and his mad cards
 */
.o-brammy {
  align-items: start;
  /* Start with 4 columns */
  display: grid;
  grid-gap: var(--xl);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 var(--spacing-xs) var(--spacing-l);
}

@media (--br-s) {
  .o-brammy {
    grid-gap: var(--l);
  }
}

@media (--br-m) {
  .o-brammy {
    grid-gap: var(--xl);
    margin: 0 var(--spacing-xl) var(--spacing-xl);
  }
}

@media (--br-l) {
  .o-brammy {
    grid-gap: var(--xl);
    /* Change to 3 columns */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
}

@media (--br-xl) {
  .o-brammy {
    grid-gap: var(--xxl);
  }
}

/*
A singular card
Describing something about Brammy.
*/
.o-brammy__card {
  grid-column: span 4;
}

.o-brammy__header {
  display: flex;
  flex-direction: column;
}

.o-brammy__card h1 {
  margin-bottom: 0;
}

@media (--br-s) {
  .o-brammy__card {
    grid-column: span 2;
  }
}

@media (--br-l) {
  .o-brammy__card {
    grid-column: span 1;
    grid-row: 2 / 4;
  }

  .o-brammy__header {
    grid-column: span 2;
    grid-row: 1 / 2;
  }
}

@media (--br-xl) {
  .o-brammy__header {
    grid-column: span 1;
  }
}
