.o-site-header {
  align-items: center;
  display: grid;
  grid-gap: var(--s);
  grid-template:
    "center center" minmax(auto, 1fr)
    "left right" minmax(100%, 1fr);
  margin: var(--spacing-xs) var(--spacing-xs) var(--spacing-m);
  width: auto;
  z-index: var(--z-header);
}

@media (--br-m) {
  .o-site-header {
    grid-template: "left center right";
    grid-template-columns: 1fr auto 1fr;
    margin: var(--spacing-s) var(--spacing-xl) var(--spacing-m);
  }
}

.o-site-header__left {
  grid-area: left;
  justify-items: start;
  order: 1;
}

.o-site-header__center {
  grid-area: center;
  line-height: 0;
  order: 0;
  text-align: center;
}

@media (--br-m) {
  .o-site-header__center {
  }
}

.o-site-header__right {
  display: flex;
  grid-area: right;
  justify-content: flex-end;
}
