.o-site-header {
  align-items: center;
  display: grid;
  grid-gap: var(--spacing-xs);
  grid-template: "center center" "left right";
  grid-template-columns: repeat(minmax(0, 1fr));
  margin: var(--spacing-xs) var(--spacing-xs) var(--spacing-m);
  position: relative;
  width: auto;
  z-index: var(--z-header);
}

@media (--br-m) {
  .o-site-header {
    grid-gap: var(--s);
    grid-template: "left center right";
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    left: 0;
    margin: var(--spacing-s) var(--spacing-xl) var(--spacing-m);
    position: fixed;
    right: 0;
    top: 0;
  }
}

.o-site-header__left {
  grid-area: left;
  justify-content: flex-start;
  order: 1;
}

.o-site-header__center {
  grid-area: center;
  line-height: 0;
  order: 0;
  text-align: center;
}

/* @media (--br-m) {
  .o-site-header__center {

  }
} */

.o-site-header__right {
  display: flex;
  grid-area: right;
  justify-content: flex-end;
}

@media (--br-m) {
  .a-site-header-spacer {
    height: 6rem;
  }
}

