<article class="o-article">
  {{ partial "molecules/visual-banner" . }}

  <nav class="m-article-navigation e-content-block e-content-block--transparent">
    {{ partial "atoms/button" (dict "icon" "list" "url" "/articles" "label" "Back to articles" "classes" "a-button--secondary m-article-navigation__button") }}
  </nav>

  {{ partial "molecules/article-header" . }}

  <section class="e-content-block">
    {{ .Content }}
  </section>

  {{/*
  <footer class="o-article__footer e-content-block e-content-block--transparent">
    {# Add related content or other click through material #}
  </footer>
  */}}
</article>
