.a-logo {
  background-color: var(--grey-80);
  border: .15rem solid var(--grey-80);
  border-radius: 100%;
  height: 3.3rem;
  overflow: hidden;
  padding: 0;
  transform-origin: bottom center;
  transition-duration: .3s;
  transition-property: border-color, box-shadow, transform;
  transition-timing-function: var(--ease-in-out-quad);
  width: 3.3rem;
  z-index: var(--z-header);
}

a:focus .a-logo,
.a-logo:hover,
.a-logo:focus {
  border-color: var(--blue);
  border-left-color: var(--blue-50);
  border-top-color: var(--blue-50);
  box-shadow: var(--shadow-default);
  transform: scale(1.03);
}

@media (prefers-color-scheme: dark) {
  .a-logo:hover,
  .a-loco:focus {
    border-color: var(--yellow);
  }
}

.a-logo:active {
  box-shadow: none;
  transform: scale(1);
}
