
.a-logo {
  height: 3.3rem;
  position: relative;
  transform-origin: center center;
  transition: .3s var(--ease-in-out-quad);
  transition-property: transform;
  width: 3.3rem;
}

.a-logo:hover {
  transform: rotate(5deg);
}

.a-logo__picture {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.a-logo__image {
  background-color: var(--grey-80);
  border: .15rem solid var(--grey-80);
  border-radius: 100%;
  height: 3.3rem;
  overflow: hidden;
  padding: 0;
  transform-origin: bottom center;
  transition-duration: .3s;
  transition-property: border-color, box-shadow, transform;
  transition-timing-function: var(--ease-in-out-quad);
  width: 3.3rem;
  z-index: var(--z-header);
}

a:focus .a-logo__image,
.a-logo__image:hover,
.a-logo__image:focus {
  border-color: var(--blue);
  border-left-color: var(--blue-50);
  border-top-color: var(--blue-50);
  box-shadow: var(--shadow-default);
  transform: scale(1.03);
}

@media (prefers-color-scheme: dark) {
  .a-logo__image:hover,
  .a-logo__image:focus {
    border-color: var(--yellow);
  }
}

.a-logo__image:active {
  box-shadow: none;
  transform: scale(1);
}

.a-logo__label {
  font-size: var(--regular);
  font-weight: 600;
  left: 100%;
  line-height: 1;
  opacity: 0;
  padding: var(--spacing-xs);
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: left center;
  transition: .3s var(--ease-in-out-cubic);
  transition-property: transform opacity left;
  visibility: hidden;
  white-space: nowrap;
}

.a-logo:hover .a-logo__label {
  opacity: 1;
  transform: translate3d(0, -50%, 0);
  visibility: visible;
}
