/*
ARTICLE
-------
A blog post or content page
*/

.o-article {
  margin-bottom: var(--xxl);
  z-index: var(--z-content);
}

.o-article--compact {
  border-left: solid .3rem var(--blue);
}

.o-article--compact .a-button {
  margin-bottom: 0;
}

.o-article__content {
  align-items: center;
}
