
/*
SITE: FOOTER
------------
The site's main footer module
*/

/* UNORDERED LISTS */
.o-site-footer ul,
.o-site-footer dl {
  display: block;
}

.o-site-footer li,
.o-site-footer dt,
.o-site-footer dd {
  display: block;
  list-style: none;
  margin: 0 var(--regular) var(--regular) 0;
}

@media (--br-s) {
  .o-site-footer ul,
  .o-site-footer dl {
    margin-bottom: 0;
  }

  .o-site-footer dt,
  .o-site-footer dd,
  .o-site-footer li {
    display: inline-block;
  }
}
