
/*
SITE: FOOTER
------------
The site's main footer module
*/

.o-site-footer {
  background-color: var(--grey-10);
  padding: 0 var(--spacing-xs) var(--spacing-l);
  position: relative;
  width: 100%;
  z-index: var(--z-footer);
}

@media (--br-m) {
  .o-site-footer {
    padding: 0 var(--spacing-xl) var(--spacing-xl);
  }
}

/* UNORDERED LISTS */
.o-site-footer ul,
.o-site-footer dl {
  display: block;
}

.o-site-footer li,
.o-site-footer dt,
.o-site-footer dd {
  display: block;
  list-style: none;
  margin: 0 var(--regular) var(--regular) 0;
}

@media (--br-s) {
  .o-site-footer ul,
  .o-site-footer dl {
    margin-bottom: 0;
  }

  .o-site-footer dt,
  .o-site-footer dd,
  .o-site-footer li {
    display: inline-block;
  }
}
