{{/*
    Skip links
    Provide keyboard accessible skip links
*/}}
<nav class="m-skip-links">
  <ul class="m-skip-links__list">
    <li class="m-skip-links__item">
      <a href="{{.URL}}#site-main" class="m-skip-links__link">
        Skip to content
      </a>
    </li>
    <li class="m-skip-links__item">
      <a href="{{.URL}}#site-contact" class="m-skip-links__link">
        Skip to contact information
      </a>
    </li>
    <li class="m-skip-links__item">
      <a href="{{.URL}}#site-links" class="m-skip-links__link">
        Skip to links navigation
      </a>
    </li>
    <li class="m-skip-links__item">
      <a href="{{.URL}}#site-company-info" class="m-skip-links__link">
        Skip to company information
      </a>
    </li>
  </ul>
</nav>
