
{{ if .Params.featured_image }}
  <figure class="m-visual-banner">
    <picture class="a-picture">
      <source data-srcset="{{ .Params.featured_image.src }}?nf_resize=fit&w=2160" media="(min-width: 1200px)">
      <source data-srcset="{{ .Params.featured_image.src }}?nf_resize=fit&w=1440" media="(min-width: 700px)">
      <source data-srcset="{{ .Params.featured_image.src }}?nf_resize=fit&w=720" media="(min-width: 300px)">
      <img 
        src="{{ .Params.featured_image.src }}?nf_resize=fit&w=20" 
        data-src="{{ .Params.featured_image.src }}?nf_resize=fit&w=150"
        loading="lazy" 
        data-animation="fade-in">
    </picture>

    {{ if .Params.feature_image_label }}
      <figcaption>{{ .Params.feature_image_label }}</figcaption> 
    {{ end }}
  </figure>
{{ else }}
  <figure class="m-visual-banner m-visual-banner--is-empty"></figure>
{{ end }}

<div class="a-visual-banner-overlay"></div>
