{{ if .Params.featured_image }}
  <figure class="m-visual-banner">
    <img
      class="m-visual-banner__image"
      src="{{ .Params.featured_image }}"
      alt="{{ .Params.feature_image_label }}"
      data-animation="zoom-in"
    />
    {{ if .Params.feature_image_label }}
    <figcaption>{{ .Params.feature_image_label }}</figcaption> 
    {{ end }}
  </figure>
{{ else }}
  <figure class="m-visual-banner m-visual-banner--is-empty"></figure>
{{ end }}

<div class="a-visual-banner-overlay"></div>
