.e-content-block {
  background-color: var(--white);
  display: block;
  margin: 0 var(--spacing-xs) var(--spacing-l);
  max-width: 56ch;
  padding: var(--spacing-m) var(--s);
}

@media (--br-m) {
  .e-content-block {
    margin: 0 var(--spacing-xl) var(--spacing-xl);
    padding: var(--xl);
  }
}

@media (prefers-color-scheme: dark) {
  .e-content-block {
    background-color: var(--blue-90);
  }
}

.e-content-block--transparent {
  background-color: transparent;
  padding: 0;
}
