/**
 * BASE
 * Styling of base elements
 */

/**
 * HTML + scaling base font size system
 * The scaling font is used to scale all contents based on screen size, using rem
 * as the standard sizing unit.
 *
 * Read more about this method:
 */
html {
  background-color: var(--grey-10);

  font-family: Overpass, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--grey-70);
}

@media screen and (min-width: 20rem) {
  html {
    font-size: 18px;
  }
}
@media (--br-xs) {
  html {
    font-size: 21px;
  }
}
@media (--br-s) {
  html {
    font-size: 24px;
  }
}
@media (--br-l) {
  html {
    font-size: 26px;
  }
}
@media (--br-xl) {
  html {
    font-size: 29px;
  }
}

/* BODY */
body {
  margin: 0;
}

/* HEADINGS */
h1,
.h1 {
  /* Helps keeping HTML semantics intact */
  margin: 0 0 var(--regular);

  font-size: var(--regular);
  font-weight: 600;
}

h2,
.h2 {
  /* Helps keeping HTML semantics intact */
  margin: 0 0 var(--regular);

  font-size: var(--regular);
  font-weight: 600;
}

h3,
.h3 {
  /* Helps keeping HTML semantics intact */
  margin: 0 0 var(--regular);

  font-size: var(--regular);
  font-weight: 600;
}

p {
  margin: 0 0 var(--regular);
}
p:last-child {
  margin: 0;
}

ul,
ol,
dl {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

/* DEFINITION LISTS */
dl {
  margin: 0 0 var(--regular);
}

dt,
dd {
  display: block;
}

dt {
  font-weight: 300;
}

dd {
  margin: 0 0 var(--regular);
}

@media (--br-s) {
  dt,
  dd {
    display: inline-block;
    margin-right: var(--xs);
  }

  dd {
    margin-right: var(--regular);
  }
}

/* FIGURE */
figure {
  margin: 0;
}

/* IMAGE */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ANCHOR */
a {
  color: var(--blue);
  text-decoration: none;

  padding-bottom: .1rem;
  border-bottom: 2px solid var(--blue);

  transition: .15s var(--ease-in-out-quad);
  transition-property: border-bottom-width, color;
}

a:focus,
a:hover {
  color: var(--blue-50);
  border-color: var(--blue-50);
  border-bottom-width: 4px;
}

strong {
  font-weight: 600;
}

/* BLOCKQUOTE */
blockquote {
  /* display: inline; */
  margin: 0 0 var(--regular);

  /* font-size: var(--m); */
  font-weight: 600;
  text-align: left;
}
blockquote p {
  margin-bottom: 0;
}
blockquote:before {
  content: "<quote>";
}
blockquote:after {
  content: "</quote>";
}