/** 
 * SETTINGS 
 */
:root {
    /* COLORS */
    --blue-50: #006C90;
    --yellow-50: #FFFF00;

    /* SIZES - following modular scale */
    --xs: .563rem;
    --s: .75rem;
    --regular: 1rem;
    --m: 1.333rem;
    --l: 1.777rem;
    --xl: 2.369rem;
    --xxl: 4rem;
     
    /* SPACING */
    --spacing-s: 1rem;
    --spacing: 2rem;
    --spacing-l: 3rem;

    /* BREAKPOINTS */
    @custom-media --br-xs (min-width: 30em);
    @custom-media --br-s (min-width: 40em);
    @custom-media --br-m (min-width: 60em);
    @custom-media --br-l (min-width: 70em);
    @custom-media --br-xl (min-width: 150em);
}