
<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>{{ .Title | default .Site.Title }}</title>
    <meta name="description" content="{{ $.Description }}" />

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Title | default .Site.Title }}"/>
    <meta property="og:image" content="https://bramwillemse.nl/{{ $.Params.featured_image.src }}?nf_resize=fit&w=1200&h=627"/>
    <meta property="og:description" content="{{ $.Description }}"/>
    <meta property="og:url" content="https://bramwillemse.nl{{ .Permalink }}" />

    <meta name="twitter:title" content="{{ .Title | default .Site.Title }}">
    <meta name="twitter:description" content="{{ $.Description }}">
    <meta name="twitter:image" content="https://bramwillemse.nl/{{ $.Params.featured_image.src }}?nf_resize=fit&w=1200&h=627">
    <meta name="twitter:image:alt" content="{{ $.Params.featured_image.alt }}">
    <meta name="twitter:site" content="@bramwillemse">

    <base href="{{ $.Site.BaseURL }}" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

    {{ $style := resources.Get "css/main.css" | resources.PostCSS (dict "config" "./assets/css/postcss.config.js" "noMap" false ) }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

  <body>
    {{ block "skiplinks" . }}
      {{ partial "molecules/skip-links" . }}
    {{ end }}

    {{ block "header" . }}
      {{ partial "organisms/site-header" . }}
    {{ end}}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ $bundle := resources.Get "js/bundle.js" }}
    {{ $scripts := $bundle | minify | fingerprint }}

    {{ if .Site.IsServer }}
      <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
    {{ else }}
      <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
    {{ end }}
  </body>

  </html>
