.m-article-header {
    position: relative;
    z-index: var(--z-rel-1st);

    background-color: rgba(255,255,255, 1);
}

.m-article-header h1 {
    margin-bottom: 0;
}

.article-header__date {
    margin-bottom: var(--spacing-s);
}