.m-article-header {
  background-color: var(--blue-90);
  border-top: solid 1rem var(--blue);
  padding-top: 1rem;
  position: relative;
  z-index: var(--z-rel-1st);
}

.m-article-header h1 {
  margin-bottom: 0;
}

.m-article-header__date {
  margin-bottom: var(--spacing-s);
}
