.m-skip-links {
  background-color: var(--blue-80);
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: .3s ease-in-out;
  transition-property: transform;
  width: 100%;
  z-index: var(--z-modal);
}

.m-skip-links:focus-within {
  transform: translateY(0);
}

.m-skip-links__list {
  list-style: none;
  margin: 0 var(--spacing-xs) var(--spacing-l);
}

@media (--br-m) {
  .m-skip-links__list {
    margin: var(--spacing-xl);
  }
}

.m-skip-links__item {
  display: block;
  margin-bottom: var(--spacing-xs);
}

.m-skip-links__link {
  border-color: var(--yellow);
  color: var(--yellow);
}
