.m-skip-links {
  background-color: var(--blue-90);
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - var(--spacing-l)));
  transition: .3s var(--ease-in-out-quad);
  transition-property: transform, box-shadow;
  width: 100%;
  z-index: var(--z-modal);
}

.m-skip-links:focus-within {
  box-shadow: var(--shadow-panel);
  transform: translateY(0);
}

.m-skip-links__list {
  list-style: none;
  margin: var(--spacing-l) .75rem var(--spacing-l);
}

@media (--br-m) {
  .m-skip-links__list {
    margin: var(--spacing-xl);
  }
}

.m-skip-links__item {
  display: block;
  margin-bottom: var(--spacing-xs);
}
