.m-visual-banner {
  background-color: var(--grey-90);
  display: flex;
  height: 88vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-visual-banner);
}

.m-visual-banner--is-empty {
  height: 33vh;
}

@media (prefers-color-scheme: dark) {
  .m-visual-banner--is-empty {
    background-color: var(--blue-90);
  }
}

.m-visual-banner__image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
