.m-visual-banner {
  display: flex;
  height: 88vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--z-rel-basement);
}

.visual-banner--is-empty {
  /* background-color: var(--grey-90); */
  height: 25vh;
}

@media (prefers-color-scheme: dark) {
  .visual-banner--is-empty {
    /* background-color: var(--blue-90); */
  }
}

.visual-banner__image {
  object-fit: cover;
  object-position: top;
  width: 100%;
}
