
/*
VISUAL BANNER OVERLAY
---------------------
Background overlay to scroll over the banner's full-width image.
*/

.a-visual-banner-overlay {
  background-color: var(--grey-10);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 50vh;
  width: 100vw;
  z-index: var(--z-content-below);
}

@media (--br-m) {
  .a-visual-banner-overlay {
    top: 88vh;
  }
}

@media (prefers-color-scheme: dark) {
  .a-visual-banner-overlay {
    background-color: var(--blue-80);
  }
}