.o-content-block {
  display: block;
  width: 56ch;
  max-width: calc(100% - 2.5rem);
  margin: 0 var(--spacing-xs) var(--spacing-m);

  padding: var(--spacing-m) var(--s);
  background-color: var(--white);
}

@media (--br-m) {
  .o-content-block {
    grid-column: span 3;
    margin: 0 var(--spacing-xl) var(--spacing-m);

    padding: var(--xl);
  }
}

.content-block--transparent {
  padding: 0;
  background-color: transparent;
}
