
.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom {
  margin-bottom: var(--spacing);
}

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-top {
  margin-top: var(--spacing);
}

.u-margin-top-m {
  margin-top: var(--spacing-m);
}