:root {
  --shadow-default: 0 .333rem 1rem -.5rem var(--black);
  --shadow-panel: 0 .5rem 2rem -1rem var(--black-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-default: 0 .333rem 1rem -.5rem var(--white);
    --shadow-panel: 0 .5rem 2rem -1rem var(--white-50);
  }
}
