/** 
 * PILLAR
 * A singular, unique feature of Bram, giving insight into what Bram does & loves
 */
.pillar { grid-column: span 4; }

.pillar h1 { margin-bottom:  0; }

@media ( --br-s ) {
    .pillar { grid-column: span 2;  }
}

@media ( --br-m ) {
    .pillar { grid-column: span 1; }
}

/* PILLAR HEADER */ 
@media ( --br-m ) {
    .pillar--header { 
        grid-column: span 3 !important;
        display: flex;
        flex-direction: column;

        text-align: center;
    }
}

/* PILLAR HEADER: PORTRAIT */
.pillar--header__portrait { margin-bottom: 0; }
.pillar--header__portrait img { height: 46px; }

/* PILLAR HEADER: TEXT */
.pillar--header__intro {
    max-width: 45ch;
    margin: 0 auto;
}

/* PILLAR: IMAGE */
@media ( --br-xs ) {
    .pillar--developer .pillar__image { padding-top: 10px; }
    .pillar--driver .pillar__image { padding-top: 15px; }
}


/* PILLAR: TITLE */
.pillar__title {
    font-weight: 600;
}


/* PILLAR: TEXT */
.pillar__text { 
    max-width: 60ch;
}